@font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* Suporte a pesos variáveis */
    font-style: normal;
}